<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>GREEN WORLD ACADEMY</title>
    <link rel="icon" type="image/svg+xml" href="Green_WORLD_ACADEMY.png" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@600&family=Lobster+Two:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Libraries Stylesheet -->
    <link href="animate/animate.min.css" rel="stylesheet" />
    <link href="owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container-xxl bg-white p-0">
      <!-- Spinner Start -->
      <div
        id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
      >
        <div
          class="spinner-border text-primary"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Spinner End -->

      <nav
        class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0"
      >
        <a href="/" class="navbar-brand">
          <h1 class="m-0 text-primary diff">
            <img
              src="Green_WORLD_ACADEMY.png"
              alt="Green_WORLD_ACADEMY"
              class="logo_gwa"
            /><span style="color: green"> GREEN</span
            ><span style="color: #004aad"> WORLD</span
            ><span style="color: #5a282b"> ACADEMY</span>
          </h1>
        </a>
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav mx-auto">
            <a href="/" class="nav-item nav-link">Home</a>
            <a href="/about" class="nav-item nav-link">About Us</a>
            <a href="/notice" class="nav-item nav-link">Notice</a>
            <a
              href="https://upipaylinks.com/links/99a7211c77e8a17"
              class="nav-item nav-link"
              >Donation</a
            >

            <a href="/contact" class="nav-item nav-link active">Contact Us</a>
            <a
              href="https://forms.gle/LSorGFiWavZHPMz58"
              class="nav-item nav-link join"
              >Join Us</a
            >
          </div>
          <a
            href="https://forms.gle/LSorGFiWavZHPMz58"
            class="btn btn-primary rounded-pill px-3 d-none d-lg-block"
            >Join Us<i class="fa fa-arrow-right ms-3"></i
          ></a>
        </div>
      </nav>

      <!-- Page Header End -->
      <div class="container-xxl py-5 page-header position-relative mb-5">
        <div class="container py-5">
          <h1 class="display-2 text-white animated slideInDown mb-4">
            Contact Us
          </h1>
          <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item text-white active" aria-current="page">
                Contact Us
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- Page Header End -->

      <!-- Contact Start -->
      <div class="container-xxl py-5">
        <div class="container">
          <div
            class="text-center mx-auto mb-5 wow fadeInUp"
            data-wow-delay="0.1s"
            style="max-width: 600px"
          >
            <h1 class="mb-3">Get In Touch</h1>
            <p>
              Reach out to us today and let’s embark on an inspiring journey
              towards a brighter, greener future together!
            </p>
          </div>
          <div class="row g-4 mb-5">
            <div
              class="col-md-6 col-lg-4 text-center wow fadeInUp"
              data-wow-delay="0.1s"
            >
              <div
                class="bg-light rounded-circle d-inline-flex align-items-center justify-content-center mb-4"
                style="width: 75px; height: 75px"
              >
                <i class="fa fa-map-marker-alt fa-2x text-primary"></i>
              </div>
              <h6>210H/1F/1A Kasari Masari, Prayagraj, Uttar Pradesh</h6>
            </div>
            <div
              class="col-md-6 col-lg-4 text-center wow fadeInUp"
              data-wow-delay="0.3s"
            >
              <div
                class="bg-light rounded-circle d-inline-flex align-items-center justify-content-center mb-4"
                style="width: 75px; height: 75px"
              >
                <i class="fa fa-envelope-open fa-2x text-primary"></i>
              </div>
              <h6>www.greenworldacademy@gmail.com</h6>
            </div>
            <div
              class="col-md-6 col-lg-4 text-center wow fadeInUp"
              data-wow-delay="0.5s"
            >
              <div
                class="bg-light rounded-circle d-inline-flex align-items-center justify-content-center mb-4"
                style="width: 75px; height: 75px"
              >
                <i class="fa fa-phone-alt fa-2x text-primary"></i>
              </div>
              <h6>+91 9140138704</h6>
            </div>
          </div>
          <div class="bg-light rounded">
            <div class="row g-0">
              <div class="col-lg-6 wow fadeIn">
                <div class="h-100 d-flex flex-column justify-content-center">
                  <img
                    src="green-world-academy.jpg"
                    alt="Green_WORLD_ACADEMY"
                  />
                </div>
              </div>
              <div
                class="col-lg-6 wow fadeIn"
                data-wow-delay="0.5s"
                style="min-height: 400px"
              >
                <div class="position-relative h-100">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d856.233518599293!2d81.79991886957554!3d25.430963798597574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398534ca8020caef%3A0x588143db69bc2777!2sGreen%20World%20Academy!5e1!3m2!1sen!2sin!4v1721808333862!5m2!1sen!2sin"
                    width="100%"
                    height="100%"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Contact End -->

      <!-- Footer Start -->
      <%- include("footer.ejs") -%>

      <!-- Footer End -->
      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="wow/wow.min.js"></script>
    <script src="easing/easing.min.js"></script>
    <script src="waypoints/waypoints.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="main.js"></script>
  </body>
</html>
