<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>GREEN WORLD ACADEMY</title>
    <link rel="icon" type="image/svg+xml" href="Green_WORLD_ACADEMY.png" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@600&family=Lobster+Two:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Libraries Stylesheet -->
    <link href="animate/animate.min.css" rel="stylesheet" />
    <link href="owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container-xxl bg-white p-0">
      <!-- Spinner Start -->
      <div
        id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
      >
        <div
          class="spinner-border text-primary"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Spinner End -->

      <nav
        class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0"
      >
        <a href="/" class="navbar-brand">
          <h1 class="m-0 text-primary diff">
            <img
              src="Green_WORLD_ACADEMY.png"
              alt="Green_WORLD_ACADEMY"
              class="logo_gwa"
            /><span style="color: green"> GREEN</span
            ><span style="color: #004aad"> WORLD</span
            ><span style="color: #5a282b"> ACADEMY</span>
          </h1>
        </a>
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav mx-auto">
            <a href="/" class="nav-item nav-link">Home</a>
            <a href="/about" class="nav-item nav-link">About Us</a>
            <a href="/notice" class="nav-item nav-link active">Notice</a>
            <a
              href="https://upipaylinks.com/links/99a7211c77e8a17"
              class="nav-item nav-link"
              >Donation</a
            >

            <a href="/contact" class="nav-item nav-link">Contact Us</a>
            <a
              href="https://forms.gle/LSorGFiWavZHPMz58"
              class="nav-item nav-link join"
              >Join Us</a
            >
          </div>
          <a
            href="https://forms.gle/LSorGFiWavZHPMz58"
            class="btn btn-primary rounded-pill px-3 d-none d-lg-block"
            >Join Us<i class="fa fa-arrow-right ms-3"></i
          ></a>
        </div>
      </nav>

      <!-- Page Header End -->
      <div class="container-xxl py-5 page-header position-relative mb-5">
        <div class="container py-5">
          <h1 class="display-2 text-white animated slideInDown mb-4">Notice</h1>
          <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/notice">Notice</a></li>

              <li class="breadcrumb-item text-white active" aria-current="page">
                Edit
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- Page Header End -->

      <!-- About Start -->
      <div class="container-xxl py-5">
        <div class="container">
          <div class="row g-5 align-items-center">
            <div class="card" style="width: 100%; height: 100%; border: none">
              <div class="card-body">
                <h1 class="card-title mb-5">EDIT</h1>
                <form method="post" action="/edit">
                  <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input
                      type="text"
                      class="form-control"
                      id="title"
                      aria-describedby="emailHelp"
                      name="title"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="description" class="form-label"
                      >Description</label
                    >
                    <input
                      type="text"
                      style="height: 100px"
                      class="form-control"
                      id="description"
                      name="description"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- About End -->

      <!-- Footer Start -->
      <%- include("footer.ejs") -%>

      <!-- Footer End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="wow/wow.min.js"></script>
    <script src="easing/easing.min.js"></script>
    <script src="waypoints/waypoints.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
    <!-- Template Javascript -->
    <script src="main.js"></script>
  </body>
</html>
