<div
  class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <h3 class="text-white mb-4">Get In Touch</h3>
        <p class="mb-2" style="font-size: 14px">
          <i class="fa fa-map-marker-alt me-3"></i>210H/1F/1A Kasari Masari,
          Prayagraj, Uttar Pradesh 211004
        </p>
        <p class="mb-2" style="font-size: 14px">
          <i class="fa fa-phone-alt me-3"></i>+91 9140138704
        </p>
        <p class="mb-2" style="font-size: 14px">
          <i class="fa fa-envelope me-3"></i>www.greenworldacademy@gmail.com
        </p>
        <div class="d-flex pt-3 mt-3">
          <a
            class="btn btn-outline-light btn-social facebook"
            href="https://www.facebook.com/greenworldassociation/"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-outline-light btn-social instagram"
            href="https://www.instagram.com/green_world_academy/"
            ><i class="bi bi-instagram"></i
          ></a>
          <a
            class="btn btn-outline-light btn-social whatsapp"
            href="https://wa.me/9140138704/"
            ><i class="bi bi-whatsapp"></i
          ></a>
          <a
            class="btn btn-outline-light btn-social linkedin"
            href="https://www.linkedin.com/company/greenworldacademy/"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3 class="text-white mb-4">Quick Links</h3>
        <a class="btn btn-link text-white-50" href="/about">About Us</a>
        <a class="btn btn-link text-white-50" href="/contact">Contact Us</a>
        <a
          class="btn btn-link text-white-50"
          href="https://upipaylinks.com/links/99a7211c77e8a17"
          >Donation</a
        >
        <a class="btn btn-link text-white-50" href="/notice">Notice</a>
        <a class="btn btn-link text-white-50" href="/"
          >Green World Academy&#8482;</a
        >
      </div>

      <div class="col-lg-3 col-md-6">
        <h3 class="text-white mb-4">Thank You!</h3>
        <p>
          Thank you for visiting the Green World Academy School website – we
          truly appreciate your time and interest in exploring our vibrant
          community!
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          DEVELOPED BY
          <a
            class="border-bottom"
            href="https://www.linkedin.com/in/syedmohammadaquib/"
            >SYED MOHAMMAD AQUIB</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
